<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/main_layout}">

<body class="d-flex flex-column h-100 bg-light">
    <div layout:fragment="content">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>

                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div
                                        class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Biodata</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> Nama:  <span   th:text="${konten.nama}"></span>
                                            </div>
                                    </div>
                                     <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            Umur: <span th:text="${konten.umur}"></span></div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Tempat,Tgl Lahir:<span th:text="${konten.tanggal}"></span></div>
                                    </div> 
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-left bg-light rounded-4 p-3 h-100">
                                            Alamat: <span th:text="${konten.alamat}"></span></div>
                                     </div>
                            </div>




                            <div class="row gx-5 justify-content-center mb-4 mb-md-3">
                                <div class="col-lg-11 col-xl-9 col-xxl-8" >
                                    <!-- Experience Section-->
                                    <section>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h2 class="text-primary fw-bolder mb-0">Pengalaman</h2>
                                        </div>
                                        <!-- Experience Card 1-->
                                        <div class="card shadow border-0 rounded-4 mb-5">
                                            <div class="card-body p-5">
                                                <div class="row align-items-center gx-5">
                                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                        <div class="bg-light p-4 rounded-4">
                                                            <div class="text-primary fw-bolder mb-2">Juli-November 2022
                                                            </div>
                                                            <div class="small fw-bolder">Asset</div>
                                                            <div class="small text-muted"th:text="${konten.pkl}"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div th:text="${konten.pengalaman}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Experience Card 2-->
                                        <div class="card shadow border-0 rounded-4 mb-5">
                                            <div class="card-body p-5">
                                                <div class="row align-items-center gx-5">
                                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                        <div class="bg-light p-4 rounded-4">
                                                            <div class="text-primary fw-bolder mb-2">Juli-November 2022</div>
                                                            <div class="small fw-bolder">Recovary</div>
                                                            <div class="small text-muted" th:text="${konten.pkl}"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div th:text="${konten.pengalaman2}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Divider-->
                                    <div class="pb-5"></div>








                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div
                                                class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                                <i class="bi bi-code-slash"></i>
                                            </div>
                                            <h3 class="fw-bolder mb-0"><span
                                                    class="text-gradient d-inline">Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Engineer
                                                </div>
                                            </div>
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ms Office
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                    Linux(Debian)</div>
                                            </div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                    Java</div>
                                            </div>
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring
                                                </div>
                                            </div>
                                            <!-- <div class="col">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                    Node.js</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>
            </div>
        </main>
    </div>
</body>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>